/*
Los que se ejecutan en line es superior a estos
Se aplica de arriba a abajo
(1, 0, 0)
(0, 1, 0)
(0, 0, 1)
(0, 0, 0)
*/

h1#h1-id.h1-clase {
    color: darksalmon;
}

.h1-clase {
    color: green;
}

h1 {
    color: blue !important; /*Especificar para que prevalezca intentar evitarlo*/
}

p {
    color: red;
}